/* Barra lateral */
.sidebar {
  width: 15%; /* Mantén el ancho original de la barra lateral */
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #fff;
  padding: 20px;
  position: fixed; 
  height: 100vh;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  transition: background 0.3s;
}

.sidebar ul li a:hover {
  background-color: #c5cc62;
}

/* Ajuste para main-content */
.main-content {
  margin-left: 15%; /* Deja espacio para la barra lateral */
  padding: 20px;
  height: 100vh;
  display: flex;
  background-color: #c9c8c8;
  flex-direction: column;
  align-items: center;
}

/* Tarjeta del usuario */
.user-card {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #c0a5dd, #8cb2f3);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px; /* tamaño máximo de la tarjeta de usuario */
}

.user-info {
  flex: 1;
}

.user-info h2 {
  font-size: 30px;
  color: #333;
}

.user-info h1 {
  font-size: 35px;
  color: #333;
}

.user-info p {
  color: #666;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 20px;
}

/* Ajuste para el contenedor de las tarjetas en grid */
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas para las tarjetas */
  gap: 30px;
  width: 100%;
  max-width: 800px; /* Limita el ancho máximo */
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card h3 {
  margin-top: 0;
}

.card p {
  color: #666;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.preview-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.preview-list li {
  padding: 5px 0;
  color: #555;
  font-size: 14px;
}

.view-more {
  display: block;
  margin-top: 10px;
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.view-more:hover {
  color: #388E3C;
}

.container-info {
  padding: 16px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container-info h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 12px;
}

.document-preview-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.document-preview-list li {
  margin-bottom: 8px;
}

.document-preview-list a {
  text-decoration: none;
  color: #9e4caf;
  font-weight: bold;
  transition: color 0.3s ease;
}

.document-preview-list a:hover {
  color: #652ebd;
}


