/* ----------------------------------- */
/* Contenedor pricipal               */
/* ----------------------------------- */
.reports-container {
    padding: 20px;
    background-color: #f5f5f5;
    height: 100vh;
  }

/* ----------------------------------- */
/* Contenedor de titulo                */
/* ----------------------------------- */
  .reports-container h2 {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 24px;
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
  }
  
  /* estilo del titulo */
  .reports-container h2::after { 
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 50%;
    height: 3px;
    background-color: #4c87af;
    border-radius: 4px;
  }
  
  .reports-container h2 span {
    background: linear-gradient(90deg,#4c87af, #b2c781);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  
/*Contenedor de la lista*/
  .report-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  /*Contenedor de las tarjetas*/
  .report-card {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 220px;
    text-align: center;
  }
  
  /*Titulo de las tarjetas*/
  .report-card h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
  }
  
  /*Fecha*/
  .report-card p {
    color: #777;
    margin-bottom: 12px;
  }
  
  /*Boton*/
  .report-card button {
    background-color: #4c5eaf;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .report-card button:hover {
    background-color: #4583a0;
  }
  